body{
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif;
  }
  
  
  .buttonfx {
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 4px solid #eee;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2;
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.5s;
    border-radius: 10px;
    z-index: 2;
  }
  
  .button {
    color: #000;
  }
  
  .buttonfx:hover {
    color: #fff;
  }
  
  .buttonfx::before,
  .buttonfx::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #259f6c;
    z-index: -2;
    transform: translate3D(0, -100%, 0);
    transition: all 0.5s;
  }
  
  .buttonfx:hover::before,
  .buttonfx:hover::after {
    transform: rotate(0deg);
    transition: all 0.25s;
  }
  
  .buttonfx::before,
  .buttonfx::after {
    width: 200%;
    background: #259f6c;
    transform-origin: 0 bottom;
    transform: translate3D(-50%, 0, 0) rotate(-50deg);
  }
  .buttonfx:hover::after {
    transition-delay: 0.25s;
  }
  
  .buttonfx::before {
    opacity: 0.4;
    z-index: -1;
  }
  
  .buttonfx::after {
    z-index: -1;
  }
  
  
  header{
    background: #fff;
  
  }
  .mega-menu {
      width: 1100px;
      padding: 30px 0px;
      left: -524px !important;
      background: #1c1c1c;
      transition: .7s all;
      display: block;
      visibility: hidden;
      opacity: 0;
      transform: perspective(800px) rotateX(30deg);
      top: 130%;
  }
  li:hover .mega-menu{
    visibility: visible;
    opacity: 1;
    transform: rotateX(0deg);
  }
  .mega-menu strong{
    color: #fff;
    font-size: 0.9rem;
    margin: 5px 0px;
    display: inline-block;
    text-transform: uppercase;
  }
  .mega-menu li{
    color: #868585;
    margin: 5px 0px;
    font-weight: 400;
    font-size: 0.9rem;
    transition: .3s;
    cursor: pointer;
    display: block !important;
   
    
  }
  .mega-menu li:hover{
  color: #fff;
  padding-left: 4px;
  }
  .div{
    height: 3px;
    width: 50px;
    background: rgb(255, 0, 140);
  }
  .border-end{border-color: rgb(255, 0, 140) !important;}
  .menu ul li{
    display: inline-block;
  }
  .s-menu{
    width: 250px;
    padding: 10px 20px 16px 20px;
    left: 0 !important;
    background: #1c1c1c;
    transition: .7s all;
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: perspective(800px) rotateX(30deg);
    top: 130%;
    
  }
  li:hover .s-menu{
    visibility: visible;
    opacity: 1;
    transform: rotateX(0deg);
  }
  .s-menu li{
    display: block !important;
    position: relative;
  }
  .s-menu li .right {
    position: absolute !important;
    right: 100% !important;
    display: block;
    left: 111%;
    top: -16px;
    width: 250px;
     padding: 15px 20px;
    background: #1c1c1c;
    visibility: hidden;
    opacity: 0;
    transform: perspective(800px) rotateX(30deg);
    transition: .4s;
   
  }
  .s-menu li:hover .right{
    visibility: visible;
    opacity: 1;
    transform: rotateX(0deg);
  }
  
  .s-menu li a{
    color: #868585;
    margin: 5px 0px;
    font-weight: 400;
    font-size: 0.9rem;
    transition: .3s;
    cursor: pointer;
    display: block !important;
    text-decoration: none;
    position: relative;
    transition: .3s;
    
  }
  .s-menu li a::after{
   content: "\f105";
   font-family: "Font Awesome 5 Free";
   font-weight: 700;
   position: absolute;
   top: 0;
   right: 0;
   transition: .3s;
  }
  .s-menu li a:hover{
    color: #fff;
    padding-left: 4px;
  }
  .s-menu li a:hover::after{
    color: #fff;
    right: -4px;
  }
  .copy-1{
    left: -400px !important;
  }
  .copy-2{
    left: -580px !important;
  }
  .copy-3{
    left: -100px !important;
  }
  .input-group i{
    color: rgb(255, 0, 140);
  }
  
   img{
    height: 100%vh;
  }
  
  .hover {
    height: 100%vh;
    position: relative;
  }
  .hover::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, .5);
    
  }
  .carousel-caption{
    position: absolute;
    top: 20%;
    z-index: 999;
  }
  
  .carousel-caption h1{
    font-size: 4rem;
    font-weight: 700;
  }
  
  .cricel{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0px 6px;
    border: none;
    margin-bottom: 60px;
  
  }
  .active{
    background: rgb(255, 0, 140);
  }
  
  
  
  /* =================About-section============ */
  
  
  img {
    max-width: 100%;
  }
  
  .about_section {
    padding: 100px 0;
    background: #f7f7f7;
  }
  
  .about_section .title {
    text-align: center;
  }
  
  .about_section .title span {
    text-transform: capitalize;
    font-size: 1rem;
    display: block;
    color: #999;
    margin: 10px;
  }
  
  .about_section .title p {
    font-size: 1.5rem;
    padding: 0 14rem;
    color: #555;
  }
  
  .about_section .title p b {
    font-weight: 500;
  }
  
  .about_section main {
    padding: 50px 0 0 0;
  }
  
  .about_section main .item_inner {
    margin: 20px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .about_section main .item_inner .image_inner_box {
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    height: 260px;
    position: relative;
  }
  
  .about_section main .item_inner .image_inner_box::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.493);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
  }
  
  .about_section main .item_inner .image_inner_box:hover img {
    transform: scale(1.3);
  }
  
  .about_section main .item_inner .image_inner_box:hover::after {
    opacity: 1;
    visibility: visible;
  }
  
  .about_section main .item_inner .image_inner_box img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
  
  .about_section main .item_inner .item_contant {
    text-align: center;
    padding: 30px 10px;
  }
  
  .about_section main .item_inner .item_contant h6 {
    font-size: 1.4rem;
    color: #444;
  }
  
  .about_section main .item_inner .item_contant p {
    font-family: "roboto";
    color: 1.2rem;
    font-weight: 400;
    color: #555;
  }
  
  .about_section main .item_inner .item_contant a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #444;
    border: 1px solid #000;
    padding: 8px 35px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 0.8rem;
    margin-top: 15px;
  }
  
  .about_section main .item_inner .item_contant a:hover {
    background: #000;
    color: white;
  }
  
  .about_section main .item_inner .item_contant a i {
    display: inline-block;
    transition: 0.4s;
    padding-left: 5px;
  }
  
  /*============== (~ services_section     ~) =================*/
  .services_section {
    padding: 100px 0;
    background: #000;
  }
  
  .services_section .title {
    text-align: center;
  }
  
  .services_section .title span {
    font-size: 1.3rem;
    text-transform: capitalize;
    color: #888;
  }
  
  .services_section .title h2 {
    margin-top: 5px;
    color: #f3ecec;
    font-size: 1.8rem;
  }
  
  .services_section main {
    margin: 50px 0 0 0;
  }
  
  .services_section main .service_item {
    text-align: center;
    margin: 15px;
    padding: 55px 15px;
    background: #fff;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  
  .services_section main .service_item:hover::before {
    height: 100%;
    background: #333333;
  }
  
  .services_section main .service_item:hover .item_content h6 {
    color: #fff;
  }
  
  .services_section main .service_item:hover .item_content p {
    color: #cecece;
  }
  .services_section main .service_item:hover .icon_inner span {
    color: #cecece;
  }
  
  .services_section main .service_item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1%;
    background: #ff214f;
    transition: all 0.3s;
    z-index: -1;
  }
  
  .services_section main .service_item .icon_inner {
    margin-bottom: 30px;
  }
  .services_section main .service_item .icon_inner span{
    font-size: 60px;
  }
  
  .services_section main .service_item .icon_inner svg {
    color: #ff214f;
    font-size: 3.4rem;
  }
  
  .services_section main .service_item .item_content h6 {
    color: #555;
    margin: 20px 0 20px 0;
    font-size: 1.4rem;
    transition: 0.4s;
  }
  
  .services_section main .service_item .item_content p {
    font-size: 0.9rem;
    line-height: 28px;
    color: #888;
    transition: 0.4s;
  }
  
  /*============== (~ all_product ~) =================*/
  .all_product {
    padding: 100px 0;
  }
  
  .all_product .our_nav ul {
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
  }
  
  .all_product .our_nav ul li {
    display: inline-block;
  }
  
  .all_product .our_nav ul li:first-child {
    border-bottom: 1px solid #000;
  }
  
  .all_product .our_nav ul li a {
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-weight: 500;
    color: #666;
    position: relative;
  }
  
  .all_product .our_nav ul li a:hover {
    color: black;
  }
  
  .all_product .our_nav ul li a:hover::before {
    width: 100%;
    left: 0;
  }
  
  .all_product .our_nav ul li a::before {
    content: "";
    width: 0%;
    height: 1%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #000;
    transition: all 0.6s;
    z-index: -1;
  }
  
  .all_product main {
    margin: 50px 0 0 0;
  }
  
  .all_product main .wrap {
    width: 1700px;
    margin: auto;
  }
  
  .all_product main .item_inner {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    margin: 13px 0 !important;
  }
  
  .all_product main .item_inner:hover {
    border-radius: 3px;
  }
  
  .all_product main .item_inner:hover .hover_content {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
  }
  
  .all_product main .item_inner:hover .hover_content .hr {
    margin-top: 150px;
  }
  
  .all_product main .item_inner:hover img {
    transform: scale(1.3);
    filter: blur(1px);
  }
  
  .all_product main .item_inner img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
  
  .all_product main .item_inner .hover_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.781);
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
  }
  
  .all_product main .item_inner .hover_content .hr {
    width: 80px;
    height: 1px;
    background: #ff214f;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 200px;
    transition: margin 0.4s;
  }
  
  .all_product main .item_inner .hover_content h5 {
    color: #fff;
    text-transform: uppercase;
  }
  
  .all_product main .item_inner .hover_content span {
    color: #999;
    display: block;
    font-size: 0.8rem;
  }
  
  /*============== (~ curcle_progress ~) =================*/
  .curcle_progress {
    background: url(./img/Screenshot_1.png);
    padding: 130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  /*============== (~ fullwidth_hover ~) =================*/
  .fullwidth_hover {
    padding: 100px 0;
  }
  
  .fullwidth_hover .item_inner {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .fullwidth_hover .item_inner::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.651);
    transition: 0.4s;
    z-index: 1;
  }
  
  .fullwidth_hover .item_inner:hover img {
    transform: scale(1.3);
    filter: blur(1px);
  }
  
  .fullwidth_hover .item_inner:hover .hover_item span {
    margin-top: 300px;
  }
  
  .fullwidth_hover .item_inner:hover .hover_item a {
    opacity: 1;
    visibility: visible;
  }
  
  .fullwidth_hover .item_inner img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
  
  .fullwidth_hover .item_inner .hover_item {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    margin: 0 0 0 70px;
    z-index: 2;
  }
  
  .fullwidth_hover .item_inner .hover_item span {
    display: block;
    text-transform: capitalize;
    color: rgba(224, 219, 219, 0.705);
    font-size: 0.9rem;
    margin-top: 360px;
    transition: all 0.4s;
  }
  
  .fullwidth_hover .item_inner .hover_item .hr {
    width: 260px;
    height: 1px;
    background: #ff214f;
    margin-top: 5px;
  }
  
  .fullwidth_hover .item_inner .hover_item h4 {
    color: white;
    text-transform: capitalize;
    margin: 10px 0;
  }
  
  .fullwidth_hover .item_inner .hover_item a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    background: white;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 5px 10px;
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
  }
  
  .fullwidth_hover .item_inner .hover_item a:hover {
    border: 1px solid white;
    background: transparent;
    color: white;
  }
  
  /*============== (~ team_sectin ~) =================*/
  .team_sectin {
    padding: 0 0 100px 0;
  }
  
  .team_sectin .title {
    text-align: center;
    margin-bottom: 80px;
  }
  
  .team_sectin .title span {
    color: #999;
  }
  
  .team_sectin .title h1 {
    font-size: 2rem;
    line-height: 40px;
    padding: 0 400px;
    margin-top: 10px;
  }
  
  .team_sectin .tem_item {
    border: 1px solid #ddd;
  }
  
  .team_sectin .tem_item .image_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 360px;
    cursor: pointer;
  }
  
  .team_sectin .tem_item .image_inner::before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.658);
    transition: 0.3s;
  }
  
  .team_sectin .tem_item .image_inner:hover::before {
    transform: scaleY(3);
  }
  
  .team_sectin .tem_item .image_inner:hover .team_hover {
    opacity: 1;
    visibility: visible;
  }
  
  .team_sectin .tem_item .image_inner:hover .team_hover p {
    margin-top: 180px;
  }
  
  .team_sectin .tem_item .image_inner img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
  
  .team_sectin .tem_item .image_inner .team_hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 20px;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  
  .team_sectin .tem_item .image_inner .team_hover p {
    color: #ddd;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 160px;
    transition: 0.4s;
  }
  
  .team_sectin .tem_item .image_inner .team_hover ul {
    padding: 0;
    margin: 0;
    border-top: 1px solid #ff214f;
  }
  
  .team_sectin .tem_item .image_inner .team_hover ul li {
    display: inline-block;
    margin-left: -5px;
    padding: 20px 10px;
  }
  
  .team_sectin .tem_item .image_inner .team_hover ul li a {
    display: block;
    color: #fff;
    transition: 0.4s;
  }
  
  .team_sectin .tem_item .image_inner .team_hover ul li a:hover {
    color: #ff214f;
  }
  
  .team_sectin .tem_item .image_content {
    text-align: center;
    padding: 20px 10px;
  }
  
  .team_sectin .tem_item .image_content a {
    text-decoration: none;
    color: #555;
    transition: 0.4s;
  }
  
  .team_sectin .tem_item .image_content a:hover {
    color: #ff214f;
  }
  
  .team_sectin .tem_item .image_content span {
    color: #999;
  }
  
  /*============== (~ about_section_two ~) =================*/
  .about_section_two {
    padding: 100px 0;
  }
  
  .about_section_two .left_inner {
    height: 600px;
  }
  
  .about_section_two .left_inner img {
    width: 100%;
    height: 100%;
  }
  
  .about_section_two .right_inner {
    background: #000;
    height: 100%;
  }
  
  .about_section_two .right_inner .right_content {
    padding: 80px;
  }
  
  .about_section_two .right_inner .right_content span {
    color: #c0bebe;
    font-size: 1.3rem;
    margin-top: 30px;
    display: block;
  }
  
  .about_section_two .right_inner .right_content h1 {
    color: white;
    margin: 10px 0;
  }
  
  .about_section_two .right_inner .right_content p {
    color: #777;
    font-size: 1rem;
    line-height: 30px;
  }
  
  .about_section_two .right_inner .right_content a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border: 2px solid white;
    padding: 5px 25px;
    border-radius: 50px;
    margin-top: 40px;
    background: #fff;
    font-weight: 400;
    transition: 0.4s;
    font-size: 0.9rem;
  }
  
  .about_section_two .right_inner .right_content a:hover {
    background: #000;
    color: white;
  }
  
  body {
    overflow-x: hidden;
  }
  
  /*============== (~ blog_post_section ~) =================*/
  .blog_post_section {
    padding: 0 0 0 100px;
  }
  
  .blog_post_section .title {
    text-align: center;
    margin-bottom: 100px;
  }
  
  .blog_post_section .title span {
    display: block;
  }
  
  .blog_post_section .title h2 {
    font-size: 2.5rem;
    line-height: 50px;
    color: #333;
  }
  
  .blog_post_section .post_inenr {
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  
  .blog_post_section .post_inenr .image_iinner {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  
  .blog_post_section .post_inenr .image_iinner::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.315);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    pointer-events: none;
  }
  
  .blog_post_section .post_inenr .image_iinner:hover::before {
    opacity: 1;
    visibility: visible;
  }
  
  .blog_post_section .post_inenr .image_iinner:hover img {
    transform: scale(1.3);
  }
  
  .blog_post_section .post_inenr .image_iinner a {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .blog_post_section .post_inenr .image_iinner img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
  
  .blog_post_section .post_inenr .post_title {
    padding: 10px;
  }
  
  .blog_post_section .post_inenr .post_title .date_time span {
    display: inline-block;
    color: #555;
  }
  
  .blog_post_section .post_inenr .post_title .date_time span a {
    text-decoration: none;
    display: block;
    color: #555;
    transition: 0.4s;
  }
  
  .blog_post_section .post_inenr .post_title .date_time span a:hover {
    color: #ff214f;
  }
  
  .blog_post_section .post_inenr .post_title h3 {
    margin: 0;
    line-height: 27px;
    margin-top: 10px;
    transition: 0.4s;
    margin-bottom: 0;
  }
  
  .blog_post_section .post_inenr .post_title h3 a {
    color: #444;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.4s;
    display: block;
  }
  
  .blog_post_section .post_inenr .post_title h3:hover a {
    color: #ff214f;
  }
  
  .blog_post_section .post_inenr .post_content {
    padding: 20px 10px;
    border-top: 1px solid #ddd;
  }
  
  .blog_post_section .post_inenr .post_content a {
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    color: #222;
    background: #fff;
    transition: 0.2s;
  }
  
  .blog_post_section .post_inenr .post_content a i {
    display: inline-block;
    transform: translateY(1px);
    font-size: 1rem;
    transition: 0.4s;
  }
  
  .blog_post_section .post_inenr .post_content a:hover {
    color: #ff214f;
  }
  
  .blog_post_section .post_inenr .post_content a:hover i {
    margin-left: 5px;
  }
  
  /*============== (~ footer_top ~) =================*/
  .footer_top {
    padding: 50px 0;
    background: #ff214f;
    margin-top: 100px;
  }
  
  .footer_top p {
    text-align: right;
    color: #fff;
    font-size: 1.2rem;
    margin-right: 100px;
  }
  
  .footer_top a {
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 6px 30px;
    background: #fff;
    border-radius: 50px;
    font-size: 0.9rem;
    transition: 0.4s;
    border: 2px solid #fff;
    margin-left: 150px;
  }
  
  .footer_top a:hover {
    background: transparent;
    color: white;
  }
  
  .footer_top a i {
    display: inline-block;
    padding-left: 10px;
  }
  
  footer {
    background: #222;
    padding: 80px 0 0 0;
  }
  
  footer .item {
    color: #555;
  }
  
  footer .item h2 {
    padding: 0 40px;
  }
  
  footer .item img {
    width: 120px;
    cursor: pointer;
  }
  
  footer .item ul {
    padding: 0;
    margin: 0;
  }
  
  footer .item ul li {
    display: inline-block;
    margin-left: -5px;
  }
  
  footer .item ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    margin: 10px;
    font-size: 0.9rem;
    transition: 0.4s;
  }
  
  footer .item ul li a:hover {
    color: #ff214f;
  }
  
  footer .copyright_text {
    border-top: 1px solid rgba(85, 85, 85, 0.397);
    margin-top: 40px;
  }
  
  footer .copyright_text p {
    color: #555;
    padding: 30px 0;
    margin: 0;
  }
  
  footer .copyright_text p a {
    text-transform: uppercase;
    transition: 0.4s;
    display: inline-block;
    color: #555;
    text-decoration: none;
  }
  
  footer .copyright_text p a:hover {
    color: #ff214f;
  }
  